@using Microsoft.AspNetCore.Identity
@using vizehaber.Models
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DİNCER-HABER</title>

    <link href="~/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-newspaper"></i>
                </div>
                <div class="sidebar-brand-text mx-3">DİNCER HABER</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Anasayfa</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Kurumsal
            </div>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="About">
                    <i class="fas fa-fw fa-info-circle"></i>
                    <span>Hakkımızda</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Authors">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Yazarlarımız</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Contact" asp-action="Index">
                    <i class="fas fa-fw fa-envelope"></i>
                    <span>İletişim / İhbar</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                İçerik
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories"
                   aria-expanded="true" aria-controls="collapseCategories">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Haber Kategorileri</span>
                </a>
                <div id="collapseCategories" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tüm Kategoriler:</h6>
                        @await Component.InvokeAsync("CategoryMenu")
                    </div>
                </div>
            </li>

            @if (User.IsInRole("Admin") || User.IsInRole("Writer"))
            {
                <hr class="sidebar-divider">
                <div class="sidebar-heading">Yönetim</div>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="News" asp-action="Index">
                        <i class="fas fa-fw fa-pen"></i>
                        <span>Haber İşlemleri</span>
                    </a>
                </li>
            }




            @if (User.IsInRole("Admin"))
            {

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
                       aria-expanded="true" aria-controls="collapseUsers">
                        <i class="fas fa-fw fa-users"></i>
                        <span>Kullanıcı Yönetimi</span>
                    </a>
                    <div id="collapseUsers" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Üyeler & Yazarlar:</h6>

                            <a class="collapse-item" asp-controller="User" asp-action="Index">
                                <i class="fas fa-users mr-1"></i> Tüm Kullanıcılar
                            </a>

                            <a class="collapse-item" asp-controller="User" asp-action="WriterList">
                                <i class="fas fa-pen-nib mr-1"></i> Yazar Kadrosu
                            </a>

                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Category" asp-action="Index">
                        <i class="fas fa-fw fa-list"></i>
                        <span>Kategori Yönetimi</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Comment" asp-action="Index">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Yorum Yönetimi</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Index">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Admin Paneli</span>
                    </a>
                </li>
            }

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                          asp-controller="Home" asp-action="Search" method="get">
                        <div class="input-group">
                            <input type="text" name="query" class="form-control bg-light border-0 small" placeholder="Haber ara..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search" asp-controller="Home" asp-action="Search" method="get">
                                    <div class="input-group">
                                        <input type="text" name="query" class="form-control bg-light border-0 small"
                                               placeholder="Haber ara..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        @* <li class="nav-item dropdown no-arrow mx-1"> ... </li> *@

                        @if (User.IsInRole("Admin"))
                        {
                            @await Component.InvokeAsync("UnreadMessages")
                        }

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        var user = await UserManager.GetUserAsync(User);
                                        @(user?.FullName ?? User.Identity.Name)
                                    }
                                    else
                                    {
                                        @:Misafir
                                    }
                                </span>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    var currentUserForImg = await UserManager.GetUserAsync(User);
                                    var photoPath = currentUserForImg?.PhotoUrl ?? "/sbadmin/img/undraw_profile.svg";
                                    <img class="img-profile rounded-circle" src="@photoPath" style="object-fit: cover;">
                                }
                                else
                                {
                                    <img class="img-profile rounded-circle" src="/sbadmin/img/undraw_profile.svg">
                                }
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" asp-controller="User" asp-action="Profile">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profilim
                                    </a>
                                    <a class="dropdown-item" asp-controller="User" asp-action="EditProfile">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Ayarlar
                                    </a>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="Index">
                                            <i class="fas fa-tools fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Admin Paneli
                                        </a>
                                    }

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Çıkış Yap
                                    </a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Login">
                                        <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Giriş Yap
                                    </a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Register">
                                        <i class="fas fa-user-plus fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Kayıt Ol
                                    </a>
                                }
                            </div>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        @RenderSection("CardHeader", required: false)
                    </div>
                    @RenderBody()
                </div>

            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Dincer Haber 2025</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ayrılıyor musun?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Oturumunu sonlandırmak için aşağıdaki "Çıkış Yap" butonuna bas.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>

    <script src="~/sbadmin/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

    <script src="~/js/SignalR.js"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>