@model List<vizehaber.Models.Author>

@{
    ViewData["Title"] = "Yazarlar";
    Layout = "_LayoutAdmin";
}

@section CardHeader {
    <span>Yazarlar</span>
}

<div class="row">
    @foreach (var author in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <!-- Fotoğraf dinamik olarak wwwroot/userPhotos klasöründen -->
                <img class="card-img-top" src="~/userPhotos/@author.PhotoPath" alt="@author.Name" />

                <div class="card-body">
                    <h5 class="card-title">@author.Name</h5>
                    <p class="card-text">@author.Bio</p>

                    <a asp-action="Details" asp-route-id="@author.Id" class="btn btn-primary btn-sm">
                        Detay
                    </a>
                </div>
            </div>
        </div>
    }
</div>
