@model vizehaber.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Giriş Yap";
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VizeHaber - Giriş Yap</title>

    <link href="/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image: url('https://source.unsplash.com/Kz8nHVg_tGI/600x800');"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Tekrar Hoş Geldiniz!</h1>
                                    </div>

                                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                                    <form class="user" asp-action="Login" method="post">

                                        <div class="form-group">
                                            <input asp-for="Email" type="email" class="form-control form-control-user" placeholder="E-Posta Adresi">
                                            <span asp-validation-for="Email" class="text-danger small pl-3"></span>
                                        </div>

                                        <div class="form-group">
                                            <input asp-for="Password" type="password" class="form-control form-control-user" placeholder="Şifre">
                                            <span asp-validation-for="Password" class="text-danger small pl-3"></span>
                                        </div>

                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                                                <label class="custom-control-label" asp-for="RememberMe">Beni Hatırla</label>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Giriş Yap
                                        </button>

                                        <hr>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" asp-action="Register">Hesabın yok mu? Kayıt Ol!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" asp-controller="Home" asp-action="Index">Anasayfaya Dön</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script src="/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="/sbadmin/js/sb-admin-2.min.js"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")

</body>
</html>